<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Caelina's Burger</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="icon" type="image/png" href="/assets/img/burger.png" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  <link rel="stylesheet" type="text/css" href="/assets/css/burger_styles.css">
</head>

<body>
  {{{ body }}}
</body>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container" id="footer">
      © <span id="year">2017</span> Copyright - Damien Asseya
      <a class="grey-text text-lighten-4 right" href="https://github.com/dasseya1/burger/">Github</a>
    </div>
  </div>
</footer>

</html>
